.root {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  background: #c7ecee;
  font-family: "Roboto Condensed", serif;
}
.box {
  width: 50%;
  height: auto;
  background: #fad390;
  border: 3px solid #8854d0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5;
  flex-direction: column;
}
.block_style {
  width: auto;
  height: auto;
  background-color: aqua;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2;
}
.box_display {
  width: auto;
  height: auto;
  background: #fffcf5;
  border: 0.5px solid #e0dacd;
  display: flex;
  flex-direction: column;
  padding: 10;
}
.title_box {
  width: 100%;
  height: 90px;
  background: #e0dacd;
  border: 0.5px solid #e0dacd;
  display: flex;
  align-items: center;
  padding: 5px;
}
.inner_box {
  width: auto;
  height: auto;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}
.title_text {
  font-style: normal;
  font-size: 14;
  font-weight: bold;
  color: yellow;
  padding: 2px;
}
.text_box {
  width: 100px;
  margin-top: 2px;
  background: red;
  border-radius: 3px;
  padding: 0px 4px 0px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stylecenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stylebtn{
  background: red;
  color: yellow;
}
#flexSwitchCheckDefault:checked{
  background-color: red;
  border-color: aliceblue;
}
.appbar{
  width:'100%';
  height:70px;
  background:#09efa6;
  display: flex;
  align-items: center;
  font-family: "Kanit", serif;
}
.logosize{
  width:130px;
  height:70px;
  padding:10px;
}
.userimage{
  width:50px;
  height:50px;
  border-radius: 30px;
}
.username{
 font-size: 10px;
 font-weight: bold;
}
.dashboard_root{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.box_edit {
  width: 700px;
  height: 300px;
  background: #fffcf5;
  border: 0.5px solid #e0dacd;
  display: flex;
  flex-direction: column;
  padding: 10;
}